body {
	margin: 0px;
}

#contenido {
	width: 808px;
	height: 448px;
	background-color:#ffffff; 
}

#portada, #diseno_procedural {
	position: absolute;
	left: 0px;
	top:0px;
}

canvas {
	position: absolute;
}

#juego_canvas {
	left: 0px;
	top: 0px;
}

#patron_canvas {
	left: 404px;
	top: 0px;
}
.boton {
	position: absolute;
	top: 412px;
}

#onOffGrid {
	left:0px;
}

#resetPattern {
	left:447px;
}

#grid4 {
	left: 113px;
}

#grid8 {
	left: 207px;
}

#grid16 {
	left: 310px;
}
#procedural_toggle {
	left: 650px;
}

#timer_container {
	width: 808px;
	height: 7px;

	background: #90D0AE;
	position: absolute;
	left: 0px;
	top: 404px;
}

#timer_juego {
	width: 0px;
	height: 7px;

	background: #E82239;
	position: absolute;
	top: 0;
	left: 0;
}

.face {
	width: 808px;
	height: 402px;

	position: absolute;
	top: 0;
	left: 0;
}

.face img {
	position: absolute;
	top: 73px;
	left: 290px;
}

#nav_incompatible {
	position: absolute;
	background-image: url(../img/back2.png);
	width: 810px;
	height: 412px;
}
#mensaje_incomp {
	position: absolute;
	width: 320px;
	height: 155px;
	left: 335px;
	top: 107px;
	font-size: 18px;
}
#mensaje_incomp span{
	font-size: 48px;
}
#nav_icons {
	position: absolute;
	top: 275px;
	left: 335px;
	width: 350px;
	height: 95px;
}