body {
	margin: 0px;
}

#contenido {
	width: 808px;
	height: 448px;
	background-color:#ffffff; 
}
.pantallas {
	position: absolute;
	width: 810px;
	height: 412px;
}


#trail_logo {
	position: absolute;
	top: 50px;
	left: 35px;
}
#titulo {
	position: absolute;
	top: 190px;
	left:35px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 27px;
	color: #90d0ae;
	line-height: 30px
}
	#titulo span{
		font-weight: 400;
	}
#comenzar {
	position: absolute;
	top: 283px;
	left: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #90d0ae;
}
	#comenzar span {
		position: absolute;
		top: 5px;
		left: 25px;
		width: 150px;
	}
#centro_logo {
	position: absolute;
	bottom: 28px;
	left: 30px;
}
#mensaje {
	position: absolute;
	width: 295px;
	height: 155px;
	left: 460px;
	top: 100px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #E82239;
	line-height: 15px;
}
	#mensaje span{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 21px;
		color: #E82239;
	}
	#mensaje p, li {
		margin-bottom: 10px;
		margin-top: 3px;
		vertical-align: top;
		list-style-image:url('../img/punto_lista.png');
		list-style-position:outside;
	}
#nav_icons {
	position: absolute;
	top: 324px;
	left: 450px;
	width: 350px;
	height: 95px;
}
#logica_juego {
	position: absolute;
	top: 239px;
	left: 25px;
	width: 765px;
	height: 80px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #E82239;
}
	#logica_juego span {
		font-size: 18px;
	}
	#logica_juego p {
		margin-bottom: 5px;
			margin-top: 3px;
	}
canvas {
	position: absolute;
}

#juego_canvas {
	left: 0px;
	top: 0px;
}

#patron_canvas {
	left: 404px;
	top: 0px;
}
.boton {
	position: absolute;
	top: 412px;
}

#onOffGrid {
	left:0px;
}

#resetPattern {
	left:447px;
}

#grid4 {
	left: 113px;
}

#grid8 {
	left: 207px;
}

#grid16 {
	left: 310px;
}
#procedural_toggle {
	left: 650px;
}

#timer_container {
	width: 808px;
	height: 7px;

	background: #90D0AE;
	position: absolute;
	left: 0px;
	top: 404px;
}

#timer_juego {
	width: 0px;
	height: 7px;

	background: #E82239;
	position: absolute;
	top: 0;
	left: 0;
}

.face {
	width: 808px;
	height: 402px;

	position: absolute;
	top: 0;
	left: 0;
}

.face img {
	position: absolute;
	top: 73px;
	left: 290px;
}

